@using Microsoft.EntityFrameworkCore.Metadata

@{
    ViewData["Title"] = "Carros Disponíveis";
}
@model List<AluguelDeCarrosMVC.Models.Carro>
<div class="container mt-4">
    <h2>Carros para Aluguel</h2>

    <div class="row">
        @foreach (var carro in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    
                    <div class="card-body">
                        <h5 class="card-title">@carro.Modelo</h5>
                        
                        <a href="/Carros/Detalhes/@carro.Id" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
