
@{
    ViewData["Title"] = "Carros Disponíveis";
}

<div class="container mt-4">
    <h2>Carros para Aluguel</h2>

    <div class="row">
        @foreach (var carro in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="@Url.Content("~/NovaPasta2/carro.png")" alt="Carro" />
                    <div class="card-body">
                        <h5 class="card-title">@carro.Modelo</h5>
                        <p class="card-text">A partir de R$@carro.PrecoPorDia/dia</p>
                        <a href="/Carros/Detalhes/@carro.Id" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
